services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: moaticket-app
    container_name: app
    expose:
      - "8000"
    volumes:
      - ./kc_electra_sentiment/final:/moaticket/kc_electra_sentiment/final:ro
    environment:
      - MODEL_DIR=/moaticket/kc_electra_sentiment/final
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - app
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always