services:
  app:
    build: .
    container_name: app
    expose:
      - "8000"
    environment:
      - ENV=prod
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - app
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
